@import url('https://fonts.googleapis.com/css?family=Sansita');

*{
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: salmon;
    font-family: Helvetica;
    font-size: 20px;
}
/*
main {
    display: flex;
    flex-flow: flex;
    align-items: center;
}

ul {
    display: flex;
}
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
h1 {
    text-align: right;
}
.title h1 + h1 {
    text-align: right;
}

*/


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}


.loc_box {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}

.temp_box,
.cur_cond {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(plan-images/sunny.jpg);
    background-size: cover;
}

.hourly {
    display:table;
    color: aliceblue;

}

nav {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: aqua;
    font-size: 20px;
    background-color: #F07C6C;
}

nav ul {
    display: flex;
    font-size: 20px;
}

nav ul li {
    margin-right: 50px;
}


.title h1 + h1 {
    text-align: right;
    margin-top: -.7em;
    font-size: 20px;
}

p {
    text-align: right;
}


header {
    background-color: #A6D8DB;
}
footer {
    padding: 20px;
    margin: 0 0 10px 0;
    height: 10px;
    font-size: 14px;
}

.rotate25 {
    transform: rotate(25deg);
    display: inline-block;
}
