@import url('https://fonts.googleapis.com/css?family=Sansita');

*{
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
}


/* flex-box:column; to put them in a column */
body {
    margin: 0;
    padding: 0;
    background-color:blueviolet;
    font-family: Helvetica;
    font-size: 20px;
    font-family: helvetica, arial, sans-serif;
    background-image: url(plan-images/sunny.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.bodywrap{

    display:flex;
    flex-direction: column;
    align-content: center;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: 20px;
    background-color: #F07C6C;
    justify-content: center;
    flex-flow: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    line-height: .75em;
}



nav li {
    flex: 1 1 5em;
}

nav a:link {
    color: whitesmoke;
}


nav a:visited {
    color:black;
}

nav a:active {

    color: blue;
    background-color: #47556F;
    font-size: 1.1em;
}

.title h1 + h1 {
    text-align: right;
    margin-top: -.7em;
    font-size: 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}

h1{
    font-size: 1.2em;
}


h2{
    font-size: 1.1em;
}

header {
    background-color: #A6D8DB;
}


main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(plan-images/sunny.jpg);
    background-size: cover;
}


footer {
    display: flex;
    font-size: 14px;
    color:blueviolet;
}

.location_box,
.current_conditions,
.hourly {
    background-color: rgba(200,200,200,.6);
    margin: 3em auto;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

@media only screen and (min-width:650px){

    .location_box,
    .current_conditions,
    .hourly {
        width: 33.3%;
        text-align: left;
        text-indent: 30pt;
        background-size: cover;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;

    }


    nav {
        position: relative;
        padding: 1em;
        padding: .25em;

    }

    main {
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        padding: 0;
        margin: 0;

    }
}


